<!DOCTYPE html>
<html lang="en">
@@include('../../include/headTag.html',{"title":"历史计划"})
<body>
<section class="h100">
	@@include('../../include/head.html',{"title":"历史计划"})
	<section class="card_content">
		<div class="card_plan_rule_box">
			<div class="card_plan_rule">
				<span class="title fs16fc61">2017.10.10-2017.11.11</span>
			</div>
			<div class="plan_infos">
				<p class="plan_num fs14fc94">计划编号：X233231 <span class="font-red">付款失败</span></p>
				<span class="fs14fc94">计划额度（元）</span>
				<h2>10000.00</h2>
			</div>
			<div class="plan_config">
				<div>
					<h4>计划比例</h4>
					<span>10 <em>%</em></span>
				</div>
				<div>
					<h4>计划配置</h4>
					<span>12 <em>%</em></span>
				</div>
				<div class="plan_success">
					<h4>还款成功</h4>
					<span>12<em>/12</em></span>
				</div>
				<div class="plan_success">
					<h4>消费成功</h4>
					<span>10 <em>/12</em></span>
				</div>
			</div>
		</div>
	</section>
</section>
<script src="../../style/js/jquery-3.1.1.min.js"></script>
<script>

</script>
</body>
</html>