<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../../style/css/reset.css">
	<link rel="stylesheet" href="../../style/css/base.css">
	<link rel="stylesheet" href="../../style/css/font.css">
	<link rel="stylesheet" href="../../style/css/app.css">
	<link rel="stylesheet" href="../../style/css/returncard.css">
	<title>我的还卡普通</title>
</head>
<body>
<header class="c-header">
	<a class="c-back fc61 fs20" onclick="history.go(-1)"><i class="icon-backicon"></i></a>
	<div class="c-header-text fc61">我的还卡</div>
</header>
<div class="box">
	<section class="card_minecard">
		<div class="card_cardinfo">
			<img src="../../style/img/putongcard.png" alt="" class="card_img">
			<div class="card_cardtext">
				<span class="fs14fc94 mark_icon">认证抵扣金额</span>
				<p class="card_deduction">10.00 <em class="fs15">元</em></p>
				<span class="fs14fc94 mark_icon">手续费抵扣金额</span>
				<p class="card_deduction">10.00 <em class="fs15">元</em></p>
			</div>
		</div>
		<div class="credit_card">
			<a href="" class="mine_credit mine_credit_icon">我的信用卡</a>
			<a href="" class="add_credit add_credit_icon"> 添加信用卡</a>
		</div>
	</section>
	<!--credits-->
	<section class="credits_box">
		<div class="credit_one wzbank">
			<div class="credits_bank_name icon-arrow-right">
				<div class="credits-img"><img src="../../style/img/yinlian.png" alt=""></div>
				<div class="credits_bank_info">
					<h3>银行名称</h3>
					<h4>**** **** **** *** 1234</h4>
				</div>
			</div>
			<div class="credits_infos">
				<p class="credit_date">
					<span class="title">账单日：</span>08日
					<span class="title">还款日：</span>22日
				</p>
				<p class="credit_date">
					<span class="title">还款计划：</span>X233231（还款号）
					<span class="ING_icon right font-green">进行中</span>
				</p>
			</div>
		</div>
		<div class="credit_one wzbank">
			<div class="credits_bank_name icon-arrow-right">
				<div class="credits-img"><img src="../../style/img/yinlian.png" alt=""></div>
				<div class="credits_bank_info">
					<h3>银行名称</h3>
					<h4>**** **** **** *** 1234</h4>
				</div>
			</div>
			<div class="credits_infos">
				<p class="credit_date">
					<span class="title">账单日：</span>08日
					<span class="title">还款日：</span>22日
				</p>
				<p class="credit_date">
					<span class="title">还款计划：</span>X233231（还款号）
					<span class="font-red right STOP_icon">已停止</span>
				</p>
			</div>
		</div>
		<div class="credit_one wzbank">
			<div class="credits_bank_name icon-arrow-right">
				<div class="credits-img"><img src="../../style/img/yinlian.png" alt=""></div>
				<div class="credits_bank_info">
					<h3>银行名称</h3>
					<h4>**** **** **** *** 1234</h4>
				</div>
			</div>
			<div class="credits_infos">
				<p class="credit_date">
					<span class="title">账单日：</span>08日
					<span class="title">还款日：</span>22日
				</p>
				<p class="credit_date">
					<span class="title">还款计划：</span>X233231（还款号）
					<span class="NOPLAN_icon right fc61">无计划</span>
				</p>
			</div>
		</div>
		<div class="credit_one wzbank">
			<div class="credits_bank_name icon-arrow-right">
				<div class="credits-img"><img src="../../style/img/yinlian.png" alt=""></div>
				<div class="credits_bank_info">
					<h3>银行名称</h3>
					<h4>**** **** **** *** 1234</h4>
				</div>
			</div>
			<div class="credits_infos">
				<p class="credit_date">
					<span class="title">账单日：</span>08日
					<span class="title">还款日：</span>22日
				</p>
				<p class="credit_date">
					<span class="title">还款计划：</span>X233231（还款号）
					<span class="ING_icon right font-green">进行中</span>
				</p>
			</div>
		</div>
	</section>
</div>



</body>
</html>