<!DOCTYPE html>
<html lang="en">
@@include('../../include/headTag.html',{"title":"计划进度"})
<body>
	@@include('../../include/head.html',{"title":"计划进度"})
	<section class="card_content">
		<div class="credit_one wzbank">
			<div class="credits_bank_name">
				<div class="credits-img"><img src="../../style/img/yinlian.png" alt=""></div>
				<div class="credits_bank_info">
					<h3>温州银行 <span class="small_fs14">(已认证)</span></h3>
					<h4><em>**** **** **** *** </em>1234</h4>
				</div>
			</div>
			<div class="credits_infos_account credits_left border_btE4" >
				<span class="text card_bank_line">计划编号 X233231（还款号）</span>
			</div>
			<div class="credits_infos_account credits_left border_btE4" >
				<span class="text">还款天数 <span class="btn_sm_yellow">10天</span></span>
				<span class="text">还款金额：10000元</span>
			</div>
			<div class="credits_infos_account credits_left border_btE4">
				<span class="text">所需额度：100000元</span>
				<span class="text">所需手续费：10元</span>
			</div>
			<div class="credits_infos_account credits_left border_btE4" >
				<span class="text">还款时间段 2017.09.01～2017.10.1</span>
			</div>
		</div>
		<div class="card_input_title">进度详情</div>
		<section class="schedule_detaill_box">
			<div class="date">2017年10月12日</div>
			<ul class="data_ul">
				<li class="title"><span>金额</span><span>类型</span><span>时间</span></li>
				<li><span>500</span><span class="yellow">消费</span><span>10:20</span></li>
				<li><span>500</span><span class="blue">还款</span><span>10:20</span></li>
				<li><span>500</span><span class="yellow">消费</span><span>10:20</span></li>
				<li><span>500</span><span class="blue">还款</span><span>10:20</span></li>
			</ul>
		</section>
		<section class="schedule_detaill_box">
			<div class="date">2017年10月12日</div>
			<ul class="data_ul">
				<li class="title"><span>金额</span><span>类型</span><span>时间</span></li>
				<li><span>500</span><span class="yellow">消费</span><span>10:20</span></li>
				<li><span>500</span><span class="blue">还款</span><span>10:20</span></li>
				<li><span>500</span><span class="yellow">消费</span><span>10:20</span></li>
				<li><span>500</span><span class="blue">还款</span><span>10:20</span></li>
			</ul>
		</section>
	</section>

</body>
</html>