<!DOCTYPE html>
<html lang="en">
@@include('../../include/headTag.html',{"title":"日程详情"})
<body>
	@@include('../../include/head.html',{"title":"日程详情"})
	<section class="schedule_box">
		<p><span class="title">手续费：</span>还款金额*0.6+消费总笔数*1（VIP）</p>
		<p><span class="title">手续费：</span>还款金额*0.9+消费总笔数*1（普通会员）</p>
		<p class="title">信用卡需要预留额度：500</p>
	</section>
	<section class="schedule_detaill_box">
		<div class="date">2017年10月12日</div>
		<ul class="data_ul">
			<li class="title"><span>金额</span><span>类型</span><span>时间</span></li>
			<li><span>500</span><span class="yellow">消费</span><span>10:20</span></li>
			<li><span>500</span><span class="blue">还款</span><span>10:20</span></li>
			<li><span>500</span><span class="yellow">消费</span><span>10:20</span></li>
			<li><span>500</span><span class="blue">还款</span><span>10:20</span></li>
		</ul>
	</section>
	<section class="schedule_detaill_box">
		<div class="date">2017年10月13日</div>
		<ul class="data_ul">
			<li class="title"><span>金额</span><span>类型</span><span>时间</span></li>
			<li><span>500</span><span class="yellow">消费</span><span>10:20</span></li>
			<li><span>500</span><span class="blue">还款</span><span>10:20</span></li>
			<li><span>500</span><span class="yellow">消费</span><span>10:20</span></li>
			<li><span>500</span><span class="blue">还款</span><span>10:20</span></li>
		</ul>
	</section>
	<script src="../../style/js/template-web.js"></script>
	<script src="../../style/js/jquery-3.1.1.min.js"></script>
	<script>
	</script>
</body>
</html>