<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
	<title>分润余额</title>
	<style>
		html,body{
			height: 100%;
			background: #f1f1f1;
		}
	</style>
</head>
<body>
	<!--头部-->
	<header class="gradient-green c-header">
		<a class="c-back font-white" onclick="history.go(-1)"><i class="icon-backicon"></i></a>
		<div class="c-header-text" >分润余额</div>
		<div class="c-head-right">账单</div>
	</header>
	<div class="balance-top-wrapper gradient-green">
		<span class="title font-14">可提现分润：</span>
		<p class="profit">1200</p>
	</div>
	<section class="profit-wrapper">
		<div class="profit-item">
			<h2 class="profit-title">昨日收益</h2>
			<h2 class="font-green profit">￥200</h2>
		</div>
		<div class="profit-item">
			<h2 class="profit-title">今日流水</h2>
			<h2 class="font-blue profit">￥3.00</h2>
		</div>
		<div class="profit-item">
			<h2 class="profit-title">今日收益</h2>
			<h2 class="font-ora profit">￥500</h2>
		</div>
	</section>
	<section class="btn-section">
		<a class="btn btn-bg-green" href="balanceWithdraw.html">提现</a>
	</section>

</body>
</html>