<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>中央文案</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
</head>
<body>
<header class="gradient-green c-header">
	<div class="c-back" ><i class="icon-backicon"></i></div>
	<div class="c-header-text">中央文案</div>
</header>
<div class="central-wrapper">
	<div class="central-item" >
		<div class="central-date">
			<h3 class="month">01月</h3>
			<h2 class="day">12</h2>
			<h4 class="time">13:00</h4>
		</div>
		<div class="central-des">
			<div class="central-word">文案文案问啊，文案文案问啊文案文案问啊。</div>
			<span class="more">更多</span>
			<div class="central-img-box">
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
			</div>
			<div class="buttons">
				<a href="#" class="save-green">保存图片</a>
				<a href="#" class="copy-blue">复制文字</a>
			</div>
		</div>
	</div>
	<div class="central-item" >
		<div class="central-date">
			<h3 class="month">01月</h3>
			<h2 class="day">12</h2>
			<h4 class="time">13:00</h4>
		</div>
		<div class="central-des">
			<div class="central-word">文案文案问啊，文案文案问啊文案文案问啊。</div>
			<span class="more">更多</span>
			<div class="central-img-box">
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
			</div>
			<div class="buttons">
				<a href="#" class="save-green">保存图片</a>
				<a href="#" class="copy-blue">复制文字</a>
			</div>
		</div>
	</div>
	<div class="central-item" >
		<div class="central-date">
			<h3 class="month">01月</h3>
			<h2 class="day">12</h2>
			<h4 class="time">13:00</h4>
		</div>
		<div class="central-des">
			<div class="central-word">文案文案问啊，文案文案问啊文案文案问啊。</div>
			<span class="more">更多</span>
			<div class="central-img-box">
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
				<div class="central-img-item">
					<img src="../style/img/msflogo.png" alt="" >
				</div>
			</div>
			<div class="buttons">
				<a href="#" class="save-green">保存图片</a>
				<a href="#" class="copy-blue">复制文字</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>