<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改密码</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
	<style>
		html,body{
			height: 100%;
			background: #f1f1f1;
		}
	</style>
</head>
<body>
	<!--头部-->
	<header class="gradient-green c-header">
		<a class="c-back font-white" onclick="history.go(-1)"><i class="icon-backicon"></i></a>
		<div class="c-header-text" >修改密码</div>
	</header>
	<div class="contents-wrapper">
		<div class="form-controls">
			<span class="title">当前密码</span>
			<input class="form-input" type="tel"  placeholder='请输入当前密码' />
		</div>
		<div class="form-controls">
			<span class="title">新密码</span>
			<input class="form-input" type="tel"  placeholder='请输入新密码' />
		</div>
		<p class="word-explain">
			密码由6-10位字符组成，包含数字、字母（区分大小写，
			不含空格）
		</p>
		<div class="form-controls">
			<span class="title">确认密码</span>
			<input class="form-input" type="tel"  placeholder='请再次输入新密码' />
		</div>

	</div>

</body>
</html>