<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
	<title>我的费率</title>
	<style>
		html,body{
			height: 100%;
			background: #f1f1f1;
		}
	</style>
</head>
<body>
	<header class="gradient-green c-header">
		<div class="c-back" ><i class="icon-backicon"></i></div>
		<div class="c-header-text">我的费率</div>
	</header>
	<section class="content-wrapper">
		<div class="inner-content weixin-content">
			<div class=" rate-head">
				<div class="pay-img">
					<img src="../style/img/weixin.png" alt="">
				</div>
				微信小额D0实时到账
			</div>
			<div class="rate-box">
				<div class="rate-item">
					<p class="rate-title">费率</p>
					<p class="rate-content">0.38%</p>
				</div>
				<div class="rate-item">
					<p class="rate-title">结算</p>
					<p class="rate-content">0/笔</p>
				</div>
				<div class="rate-item">
					<p class="rate-title">额度</p>
					<p class="rate-content">1000元</p>
				</div>
			</div>
		</div>
		<div class="inner-content weixin-content">
			<div class=" rate-head">
				<div class="pay-img">
					<img src="../style/img/yinlian.png" alt="">
				</div>
				微信小额D0实时到账
			</div>
			<div class="rate-box">
				<div class="rate-item">
					<p class="rate-title">费率</p>
					<p class="rate-content">0.38%</p>
				</div>
				<div class="rate-item">
					<p class="rate-title">结算</p>
					<p class="rate-content">0/笔</p>
				</div>
				<div class="rate-item">
					<p class="rate-title">额度</p>
					<p class="rate-content">1000元</p>
				</div>
			</div>
		</div>
	</section>

</body>
</html>