<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>图片示例</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
	<style>
		html,body{
			height: 100%;
			background: #f1f1f1;
		}
	</style>
</head>
<body>
	<!--头部-->
	<header class="gradient-green c-header">
		<a class="c-back font-white" onclick="history.go(-1)"><i class="icon-backicon"></i></a>
		<div class="c-header-text" >图片示例</div>
	</header>
	<div class="contents-wrapper">
		<ul class="picExamUl">
			<li>
				<img src="../style/img/addphoto2.png" alt="">
				<p>提供身份证正面照片</p>
			</li>
			<li>
				<img src="../style/img/addphoto3.png" alt="">
				<p>提供身份证反面照片</p>
			</li>
			<li>
				<img src="../style/img/addphoto4.png" alt="">
				<p>提供收款银行卡照片</p>
			</li>
			<li>
				<img src="../style/img/addphoto5.png" alt="">
				<p>提供手持身份证照片</p>
			</li>
		</ul>
	</div>
</body>
</html>