<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
	<title>微信公众号</title>
	<style>
		body,html{
			background: #F1F1F1;
			height: 100%;
		}
	</style>
</head>
<body>
	<!--头部-->
	<header class="gradient-green c-header">
		<a class="c-back font-white" onclick="history.go(-1)"><i class="icon-backicon"></i></a>
		<div class="c-header-text" >微信公众号</div>
	</header>
	<div class="contents-wrapper">
		<div class="code-box">
			<div class="code">
				<img src="../style/img/qrcode.png" alt="">
			</div>
			<h4>保存图片</h4>
		</div>
	</div>
</body>
</html>