<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设置</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
	<style>
		html,body{
			height: 100%;
			background: #f1f1f1;
		}
	</style>
</head>
<body>
	<!--头部-->
	<header class="gradient-green c-header">
		<a class="c-back font-white" onclick="history.go(-1)"><i class="icon-backicon"></i></a>
		<div class="c-header-text" >设置</div>
	</header>
	<div >
		<a class="modify-box" href="changePwd.html"><b>修改密码</b> <span></span></a>

		<div class="btn-box">
			<div class=" btn btn-bg-red">退出登录</div>
		</div>

	</div>

</body>
</html>