<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>二维码推广</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
</head>
<body>
	<header class="gradient-green c-header">
		<div class="c-header-text">二维码推广</div>
	</header>
	<div class="template-out ">
		<div class="template-bg">
			<img class="tpl-bg-img" src="../style/img/tpl-bg.png" alt="">
		</div>
		<div class="tpl-content">
			<p class="font-16 lineht2">全国上万人参与的互联网+支付项目</p>
			<p class="mar-top20 lineht2">优秀创业导师：用户名  </p>
			<p class="lineht2">	码善付互联网创业平台</p>
			<div class="qrcode-box">
				<img src="../style/img/msflogo.png"  alt="">
			</div>
			<p class="open-wechat">打开微信 - 扫描二维码 - 快速注册</p>
			<img src="../style/img/appicons.png" alt="">
		</div>
	</div>
</body>
</html>