<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
	<link rel="stylesheet" href="../style/css/swiper.min.css">

	<script src="../style/js/jquery-3.1.1.min.js"></script>
	<title>我要分享</title>
	<style>
		html,body{
			height: 100%;
			background: #f1f1f1;
		}
	</style>
</head>
<body>
	<header class="gradient-green c-header">
		<div class="c-header-text">我要分享</div>
	</header>
	<div class="share-wrapper">
		<div class="share-box">
			<a class="share-item" href="shareQrcode.html" >
				<div class="share-first icon-arrow"></div>
				<div class="share-des">
					<p class="title">分享二维码图片链接</p>
					<p class="small-title">扫二维码轻松分享</p>
				</div>
			</a>
			<a class="share-item" href="centralOffice.html" >
				<div class="share-second icon-arrow"></div>
				<div class="share-des">
					<p class="title">朋友圈中央文案库</p>
					<p class="small-title">刷爆你的朋友圈</p>
				</div>
			</a>
			<div class="share-item">
				<div class="share-third icon-arrow"></div>
				<div class="share-des">
					<p class="title">分享注册邀请链接</p>
					<p class="small-title">轻松邀请好友</p>
				</div>
			</div>
			<a class="share-item" href="faceApply.html" >
				<div class="share-four icon-arrow"></div>
				<div class="share-des">
					<p class="title">面对面开通账号</p>
					<p class="small-title">邀请0距离</p>
				</div>
			</a>
		</div>
	</div>
</body>
</html>