<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="../style/css/reset.css">
	<link rel="stylesheet" href="../style/css/base.css">
	<link rel="stylesheet" href="../style/css/font.css">
	<link rel="stylesheet" href="../style/css/app.css">
	<title>我的账户</title>
	<style>
		body,html{
			background: #F1F1F1;
			height: 100%;
		}
	</style>
</head>
<body>
	<!--头部-->
	<header class="gradient-green c-header">
		<div class="c-header-text" >我的账户</div>
		<div class="c-head-right" >账单</div>
	</header>
	<a style="display: block;" href="myProfile.html">
		<div class="header-user gradient-green">
			<div class="user-avatar">
				<img src="../style/img/photo2.png" alt="">
			</div>
			<div class="user-infor">
				<h2>用户名 <span>普通用户</span></h2>
				<div>
					<p><b class="icon-phone"></b>123456789</p>
					<p><b class="user-img"></b>推荐人: 如果没有这不显示这行</p>
				</div>
				<span class="icon-backicon rotate180 header-arrow"></span>
			</div>

		</div>
	</a>
	<div class="user-main">
		<ul>
			<li >
				<a href="NameAuthentication.html">
					<span class="usericon icon-shiming"></span><b>实名认证
					</b><em></em><span class="listarrow icon-backicon rotate180"></span>
				</a>
			</li>
			<li >
				<a href="BankCardManagement.html">
					<span class="usericon icon-kuaijie"></span><b>快捷银行卡管理</b>
				    <em>2</em><span class="listarrow icon-backicon rotate180"></span>
				</a>
			</li>
			<li>
				<a href="changeSettleCard.html">
					<span class="usericon icon-jiesuanka"></span>
					<b>修改结算卡</b> <em></em><span class="listarrow icon-backicon rotate180"></span>
				</a>
			</li>
		</ul>
		<ul class="mt12">
			<li>
				<a href="rommendCode.html">
				<span class="usericon icon-tuijian"></span><b>我的推荐码</b><em></em><span class="listarrow icon-backicon rotate180"></span>
				</a></li>
			<li><a href=""><span class="usericon icon-bangzhu"></span><b>帮助</b> <em>用户指南等</em><span class="listarrow icon-backicon rotate180"></span></a></li>
		</ul>
		<ul class="mt12">

			<li><a href="service.html">
				<span class="usericon icon-kefu"></span><b>客服热线</b><em>QQ在线客服</em><span class="listarrow icon-backicon rotate180"></span>
			</a></li>
		</ul>
		<ul class="mt12 mb17">
			<li><a href="aboutUs.html"><span class="usericon icon-about"></span><b>关于我们</b><em></em><span class="listarrow icon-backicon rotate180"></span></a></li>
			<li><a href="setSystem.html"><span class="usericon icon-shezhi"></span><b>设置</b> <em></em><span
					class="listarrow icon-backicon rotate180"></span></a></li>
		</ul>
	</div>
	<script src="../style/js/jquery-3.1.1.min.js"></script>
	<script src="../style/js/util.js"></script>
</body>
</html>